<div class="container">
    <h1>Claim Annotation Tool</h1>


    <h3>Interactive Evidence Labelling</h3>
    <p>Select sentences from a Wikipedia page that act as evidence to SUPPORT or REFUTE a claim (a simple factoid sentence). Each selected piece of evidence should be sufficient by itself: if a single sentence does not suffice, it can be joined with other sentences selected from the right hand column.</p>
    <div class="navigation_actions"><button ng-click="start2(false)" class="btn btn-primary">Enter Annotation Tool</button></div>

</div>
